{% extends 'base.html' %}

{% block content %}
    <form action="/res" method="POST">
        <div class="row">
            Ticker symbol: <input type="text" name="stockname" placeholder="IBM">
        </div>
        <div class="row">
            <input type="checkbox" name="check" value="4. close"/> Closing price
        </div>
        <div class="row">
            <input type="checkbox" name="check" value="5. adjusted close"/> Adjusted closing price
        </div>
        <div class="row">
            <input type="checkbox" name="check" value="1. open"/> Opening price
        </div>
        <div class="row">
            <input type="checkbox" name="check" value="2. high"/> High
        </div>
        <p><input type="submit" value="Submit"/></p>
    </form>
{% endblock %}