{% extends 'base.html' %}

{% block navcontent %}
<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
<li class="nav-item"><a class="nav-link" href="https://www.github.com/liuzcat9/lzc-milestone">GitHub</a></li>
<li class="nav-item"><a class="nav-link" href="https://www.thedataincubator.com/12day.html">12-day</a></li>
{% endblock %}

{% block content %}
    <form action="/res" method="POST">
        <div class="form-group row">
            Ticker symbol: <input type="text" name="stockname" placeholder="IBM">
        </div>
        <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" name="check" value="4. close"/> Closing price
                </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" name="check" value="5. adjusted close"/> Adjusted closing price
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" name="check" value="1. open"/> Opening price
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" name="check" value="8. adjusted open"/> Adjusted opening price
            </label>
        </div>
            </div>
        <div class="row">
            <p><input type="submit" value="Submit"/></p>
        </div>

    </form>
{% endblock %}